*{text-decoration: none;}
:root{
  --verde-escuro: #1d7874;
  --sombras_bordas: 0 10px 20px rgba(0, 0, 0, 0.2);
  --bordas:1px #1d7874 solid;
  --color-p:#667;
}
/*aqui comeca o listAllAtividades*/

/*card total das atv*/
.card{
  border: var(--bordas);  
}
.card:hover{
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: var(--sombras_bordas);
}
/*div dos dados da atv*/
.card-body{
  background-color: transparent;
  display:block;
}
/*card das imagens*/
.card-img-top{
  text-align: center;
  border-bottom: 1px #1d7874 solid;
}

.principais_btn_cards_atv{
  max-width: 7vh;
  border: var(--bordas);
  padding: 1vh 1vh 1vh 1vh ;
  position: absolute;
  z-index: 1;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
#p_editar_atv{
  z-index: 1;
  position: absolute;
  color: transparent;
  margin-left: -3.5vh;
  font-size: 17px;
  height: 5.5vh;
  width: 11vh;
  text-align: end;
  top: 0;
  padding: 1vh 0px;
}
#p_editar_atv:after{
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #071e22;
  transition: all 0.3s ease;
  color: #679289;
}
#p_editar_atv:hover{
  color: #679289;
  cursor: pointer;
  transition: all 1.0s ease;
}

#p_editar_atv:hover:after {
  left: 0;
  right: 0;
  z-index: -1;
  color: #679289;    
}
#editar_atv{
  color: #679289;
  background-color: #071e22;
  border-color: #679289;
  z-index: 1;   
}
#editar_atv:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-color: #071e22;
  transition: all 0.3s ease;
  }
#editar_atv:hover:after {
  left: 0;
  right: 0;
  width: 13vh;
  border-color: solid 1px #679289;
  }
#p_deletar_atv{
  z-index: 1;
  position: absolute;
  color: transparent;
  margin-left: -3.5vh;
  font-size: 17px;
  height: 5.5vh;
  width: 13vh;
  text-align: end;
  top: 0;
  padding: 1vh 0px;
}
#p_deletar_atv:after{
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #071e22;  
}
#p_deletar_atv:hover{
  color: #ee2e31;
  cursor: pointer;
  transition: all 1.0s ease;
}
#p_deletar__atv:hover:after {
  left: 0;
  right: 0;
  z-index: -1;
  color: #679289;    
}
#deletar_atv{
  top:7vh;
  color: #ee2e31;
  background-color: #071e22;
  border-color: #ee2e31;
  z-index: 1;  
}
#deletar_atv:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-color: #071e22;
  transition: all 0.3s ease;
  border-color: #ee2e31;
  }
#deletar_atv:hover:after {
  left: 0;
  right: 0;
  width: 15vh;
  border-color: #ee2e31;
}
.titulos_atv{font-size: 5vh;}

/*aqui comeca o formAtividades*/

/*div que vai do titulo ate os botoes finais*/
#formatividade{
  width: 25em;
  height: 25em;
}
/*div que contem os input e label*/
.form-group{
  width: 20em;
  margin: 0 auto 0;
  padding: 2vh 2vh;
}
.form-control{
  border: var(--bordas);
}
/*div total do input e texto da img*/
#img_form_atv{
  border: var(--bordas);
  margin-bottom: 1em;
}
