.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 15vh;
    background-color: #1d7874;
    color: #ffffff;
    margin-top: 5vh;
    position: relative;

}
.footer p{
    color: #ffffff;
}
footer{
    
    bottom: 0;
    
}