/* Estilos para a página inicial logado*/
:root{
    --verde-escuro: #1d7874;
    --sombras_bordas: 0 10px 20px rgba(0, 0, 0, 0.2);
    --bordas:solid #679289 1px;
    --color-p:#667;
}




View Compiled

h1 {
    color: var(--color-p);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 60px 0 60px 0;
}
.modo-escuro h1, .modo-escuro p {
    color: #fff;
}   
img {
    max-width: 100%;
    display: block;
    margin:0 auto;
}
.img-wrapper {
    width: 100%;
    height: 500px;
    padding: 5px;
    text-align: center center;
}
.img-caption {
    padding: 5px;
    font-size: 12.5px;
    text-align: center;
}
.bg-sweg a {
   font-size: 20px;
}
.navbar-icon{
    border: solid 1px;
    border-radius: 50%;
    padding: 6px;
}
