:root{
    --verde-escuro: #1d7874;
    --sombras_bordas: 0 10px 20px rgba(0, 0, 0, 0.2);
    --bordas:solid #679289 1px;
    --borda_dourada: solid 1px #ffbc42;
    --color-p:#667;
}

/*Div total do formulario*/
#formMatilha{
    width: 50vw;
    padding: 2vh 2vh ;
    text-align: center;
}
/*Div do input e do label*/

/*div que aparece quando aperta no chefe*/
option{
    border: var(--bordas);
}

.btn_gravar{
    border: var(--bordas);
    width: 5vw;
    height: 5vh;
    border-radius: 5px;
    background-color: transparent;
}
.btn_gravar:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    background-color: #1d7874;
    box-shadow: var(--sombras_bordas);
}
.btn_limpar{
    border: 1px red solid;
    width: 5vw;
    height: 5vh;
    border-radius: 5px;
    background-color: transparent;
}
.btn_limpar:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    background-color: red;
    box-shadow: var(--sombras_bordas);
}
.modal-background {
    width: 100vw;
    height: 100vh;
    background-color: #414141;
    opacity: 0.5;
    z-index: 10;
    filter: blur(4px);
    position: absolute;
    left: 0;
    top: 0;
}

.modal {
    width: 450px;
    height: 350px;
    position: absolute;
    left: 35vw;
    top: 25vh;
    background-color: #626262;
    border-radius: 10px;
    color: rgb(210, 212, 214);
    display: block;
    z-index: 11;
}



