:root{
    --verde-escuro: #1d7874;
    --sombras_bordas: 0 10px 20px rgba(0, 0, 0, 0.2);
    --bordas:solid #679289 1px;
    --borda_dourada: solid 1px #ffbc42;
    --color-p:#667;
}


/*div que aparece quando aperta no chefe*/
option{
    border: var(--bordas);
}


.modal-background {
    width: 100vw;
    height: 100vh;
    background-color: #414141;
    opacity: 0.5;
    z-index: 10;
    filter: blur(4px);
    position: absolute;
    left: 0;
    top: 0;
}

.modal {
    width: 450px;
    height: 350px;
    position: absolute;
    left: 35vw;
    top: 25vh;
    background-color: #626262;
    border-radius: 10px;
    color: rgb(210, 212, 214);
    display: block;
    z-index: 11;
}

/*modificacao fora do main.css*/
.titulo_btn_inserir{
    font-size: 25px !important;
    
}
.icon_inserir{
    font-size: 80px !important;
}
.btn_inserir{
    height: 12rem !important;
    width: 12rem !important;
}
.div_icon_inseriri{
    height: 70% !important;
    width: 100% !important;
    padding: auto 2px !important;
    
    
  }
.div_titulo_inserir{
    width: 100% !important;
    height: 30% !important;    
    bottom: 0 !important;
}
.card{
    
    height: 30vh!important;
}

