.col-12{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 7vh;
}
.dados_universais_atv{
    height: 7vh;
    width: 50vh;
    display: space-evenly;
}
.tarefas{
    
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    background: transparent;
    text-align: center;
    z-index: 1;
   
}.container {
    display: flex;
    justify-content: center;
}
.containerTarefa {
    margin: 2vh 0;
    background-color: transparent;
    border: 1px solid black;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    
}
.p_atv{
    color:black;
   
 }
.leftPart {
   
    text-align: center;
    color: rgb(18, 107, 0);
    width: 60%;
    z-index: 1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 0;
}

.rightPart {
    width: 30%;
    display: flex;
    text-align: right;
    align-items: right;
    z-index: 1;
}
.tarefaCheckada{
    width: 4vh;
    height: 4vh;

}

.footer{
    top:50vh
}
