:root{
    --verde-escuro: #1d7874;
    --sombras_bordas: 0 10px 20px rgba(0, 0, 0, 0.2);
    --bordas:solid #679289 1px;
    --borda_dourada: solid 1px #ffbc42;
    --color-p:#667;
}
/*tela traseira do pop up mudar matilha*/
.modal-background {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.2;
    z-index: 10;
    filter: blur(4px);
    position: fixed;
    left: 0;
    top: 0;
}

/*pop up mudar matilha*/
.modal {
    width: 450px;
    height: 350px;
    align-items: center;
    text-align: center;
    /* position: absolute; */
    left: 35vw;
    top: 28vh;
    background-color: var(--verde-escuro);
    border: 1px solid #ffbc42;
    color: #ffbc42;
    display: block;
    z-index: 11;
    box-shadow: var(--sombras_bordas);
    position: fixed;
}
.formPapel{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    border: var(--bordas);
    min-height: 40vh;
}

/* Aqui comeca o css do arquivo listTarefasUsuario.php*/

.nome_usuario{
    border: #1d7874 1px solid;
    padding: 2vh;
}
.th_tarefa{
   padding: 1vh ;
   border: #1d7874 1px solid;
}
#tabUsuarios{
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    width: 120vh;
    margin: 0vh auto;
    text-indent: initial;
    border: #1d7874 1px solid;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
}
#pinto{
    max-height:20vh;
    background-color: #414141;
}
a{
    text-decoration: none;
    /*esse text_decoration na tag  "<a>" elimina o texto em azul*/
}
.td_universal{
    padding: 2vh ;
   border: #1d7874 1px solid;
}
.btn_dados_gerais{
    box-sizing: border-box;
    padding: 1vh 1vh 1vh 1vh ;
    border: solid 1px rgb(29, 120, 116);
    border-image: initial;
}
#btn_tarefa_enviada{
    background-color: #679289;
    text-decoration: none;
    /*esse text_decoration no elemento elimina o sublinhamento*/
    color: #f7f7f7;
}
#btn_tarefa_enviada:hover{
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #414141;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
}
#btn_tarefa_nao_enviada{
    background-color: #d81159;
    text-decoration: none;
    /*esse text_decoration no elemento elimina o sublinhamento*/
    color: #f7f7f7;
}
#btn_tarefa_nao_enviada:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid #414141;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);    
}

.btn_mudar_matilha{
    height: 5vh;
    white-space: 8vh;
    background-color: #ffbc42;
    border-radius: 5px;
    border: var(--bordas);
    
}
.btn_mudar_matilha:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: var(--sombras_bordas);
}

#bruh{
    margin-top: 0;
    padding: auto auto;
    align-items: center;
    text-align: center;
    max-height: fit-content;
}
/*aqui comeca o list*/
.filtro_usu{
    margin: auto auto;
    width: fit-content;
    
}
.card-body{
    align-items: center;
    text-align: center;
    border: var(--bordas);
}

.card-body:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    border: #1d7874 solid 5px;
    /*AAAAAAAAA ve depois */
    box-shadow: var(--sombras_bordas);
    border-radius: 5px;
}
.card-text{
    padding: auto auto;
    text-align: center;
    align-items: center;
}
#card-pai{
    padding: auto auto ;
}
.form-control, .selecPapel{
    text-align: center;
    align-items: center;
    border: var(--bordas);
    margin: 0 auto 0;
}
