.col-12{
    position: relative;
    width: 100vh;
    height: 70vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
}

#h4_log{
    position: absolute;
    color: rgb(16, 159, 11);
  
}

/*Estiliza o label do formulario*/
.form-group{
    background-color: rgb(16, 159, 11);
    width: 530px;
    border-radius: 20px;
    text-align: center;   
}

/*Estiliza o fundo do formulario*/
.d_form{
    height: 350px;
    width: 640px;
    margin-top: 20vh;
    align-items: center;
    border: solid 1px rgb(16, 159, 11);
    border-radius: 15px;
    text-align: center;
    position: absolute;
}

/*Estiliza o input do formulario*/
.estilo_dados_form{
    border-radius: 10px;
    border: solid 2px rgb(16, 159, 11) ;
    background-color: rgb(166, 246, 95);
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(16, 159, 11);
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  
}

/*Div de fundo do formulario*/
#frmLogin{
    position: absolute;
    color: aliceblue;
    width: 45vh;
}

.btn {
    width: 14vh;
    height: 8vh;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
}


#btn_logar:hover {
    transition: 1s ease-in-out;
    
}

#btn_logar:hover svg {
    stroke-dashoffset: -480;
}

#btn_logar span {
    color: rgb(16, 159, 11);
    font-size: 18px;
    font-weight: 100;
}


#btn_voltar:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}

#btn_voltar:hover svg {
    stroke-dashoffset: -480;
}

#btn_voltar span {
    color: rgb(16, 159, 11);
    font-size: 18px;
    font-weight: 100;
}

.btn-primary{
    text-align: center;
}



#link-a{
    width: 100vh;
    height: 100vh;
}

/*-----responsividades do login-----*/

/*Responsividade formulario*/

@media only screen and (max-width: 440px) {
    

.d_form{
    height: 60vh;
    width: 50vh;
    margin-top: 7vh;
    position: relative;
    display: flex;
    justify-content: center;
}
#h4_log{
    position: absolute;
    margin-top: -45vh;

}
#frmLogin{

    height: 40vh;
    margin-top: 0vh;
    position: absolute;
    margin-left: 0vh;
    color: aliceblue;
}


.form-group{
    width: 300px;
    margin-top: 6vh;
}
.btn{
    width: 14vh;
    height: 8vh;
    margin-top: 3vh;
}
#btn_voltar{
 
}
#btn_logar{
   
}}
@media only screen and (min-width: 440px) {
    

    .d_form{
        height: 60vh;
        width: 5vh;
        margin-top: 7vh;
        position: relative;
        display: flex;
        justify-content: center;
    }
    #h4_log{
        position: absolute;
        margin-top: -45vh;
    
    }
    #frmLogin{
    
        height: 40vh;
        margin-top: 0vh;
        position: absolute;
        margin-left: 0vh;
        color: aliceblue;
    }
    
    
    .form-group{
        width: 300px;
        margin-top: 6vh;
    }
    .btn{
        width: 14vh;
        height: 8vh;
        margin-top: 3vh;
    }
    #btn_voltar{
     
    }
    #btn_logar{
       
    }}
@media only screen and (min-width: 480px) {
    
    .d_form{
        height: 60vh;
        width: 60vh;
        margin-top: 7vh;
        position: relative;
        display: flex;
        justify-content: center;
    }
    #h4_log{
        position: absolute;
        margin-top: -45vh;
    
    }
    #frmLogin{
    
        height: 40vh;
        width: 330px;
        margin-top: 0vh;
        position: absolute;
        margin-left: 0vh;
        color: aliceblue;
    }
    
    
    .form-group{
        width: 330px;
        margin-top: 6vh;
    }
    .btn{
        width: 14vh;
        height: 8vh;
        margin-top: 3vh;
    }
    #btn_voltar{
     
    }
    #btn_logar{
       
    }
}
 
/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {

}
 
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {

}
 
/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {

}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width:1200px){

}

 



