:root {
    --cor-dark-mod: #121212;
    --verde-escuro: #1d7874;
    --sombras_bordas: 0 10px 20px rgba(0, 0, 0, 0.2);
    --sombras_bordas_modo_escuro: 0 1px 2px #1d7874, inset 0 1px 2px #1d7874;
    --bordas_douradas: solid #ffbc42 1px;
    --borda_verde_esc: #1d7874 1px solid;
    --bordas: solid #679289 1px;
    --color-p: #667;
}

/*Abaixo serao declaradas classes que so podem ser editadas no arquivo main (classes universais)*/
body {
    overflow-y: visible;
    width: 100%;
    min-height: 100%;
    max-height: fit-content;
    position: absolute;
}

form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.col-12 {
    overflow-y: visible;
    overflow-x: visible;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    box-sizing: border-box;
    padding: auto auto;
    margin: 5px auto 5px;
    position: relative;
    height: fit-content;
    width: 100%;
}

.container {
    overflow-y: visible;
    display: flex;
    height: fit-content;
    text-align: center;
    align-items: center;
    left: auto;
    right: auto;
    padding: 5%;
}

.r_listATV {
    overflow-y: visible;
    display: flex;
    height: fit-content;
    text-align: center;
    align-items: center;
    left: auto;
    right: auto;
    padding: 8vh;
}
/*legenda cursor*/

[data-tooltip] {
    position: relative;
    font-weight: bold;
    
  }
  
  [data-tooltip]:after {
    display: none;
    position: absolute;
    top: 40px;
    padding: 5px;
    border-radius: 3px;
    /*localizacao (nao sei  + esquerda-direita)*/
    left:0;
    content: attr(data-tooltip);
    white-space: nowrap;
    background-color: var(--verde-escuro);
    color: goldenrod;
    border: var(--bordas_douradas);
    -webkit-text-stroke-width: 0.2px;
    /* largura da borda */
    -webkit-text-stroke-color: var(--verde-escuro);
    /* cor da borda */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  }
  
  [data-tooltip]:hover:after {
    display: block;
    transition: all 0.8s ease;
  }




/*ccorrigindo busgs das tags <a> no btn_vermelho*/
.a_bugs {
    text-decoration: none;
    color: black;
}
.a_bugs:hover {
    text-decoration: none;
    color: white;
}
/*linha para por ferramentas, filtros botoes inserir e etc*/
.row_ferramentas {
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    gap: 4rem;
}

.row_cards_pequenos {
    width: 100%;
    justify-content: center;
}

.div_filtro {
    min-width: 30%;
    max-width: fit-content;
}

/*card total*/
.card-sweg {
    min-height: 420px;
    border: #ffbc42 1px solid;
    margin-top: 7vh;
    background-color: transparent;
    opacity: 0.9;
}

.card-sweg:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    border: #1d7874 5px solid;
}

/*div que fica encima dos titulos dos cards*/
.card-sweg-details {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 50px;
}

/*Titulos dos cards*/
.card-title {
    font-size: 38px;
    color: #1d7874;
}

/*icons dos cards*/
.incons_redirecionais {
    font-size: 18vh;
    color: black;
    opacity: 1.0;
    max-width: 21vw;
    max-height: 18vh;
}

/*Links sobre os cards*/
.botoes_redirecionais {
    width: 45vh;
    height: 60vh;
    box-sizing: border-box;
    border: var(--bordas);
    align-items: center;
    border-radius: 15px;
    display: inline;
    margin: 5vh auto 5vh;
}

.card-index {
    box-shadow: 0px;
    z-index: 10;
}

.text-box {
    margin-left: 44vw;
    margin-top: 42vh;
}

.card {
    border: var(--bordas);
}

.card:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: var(--sombras_bordas);
}

/*botao inserir das paginas*/
.btn_inserir {
    box-sizing: border-box;
    border: var(--bordas);
    text-align: center;
    align-items: center;
    border-radius: 5px;
    padding: 0;
    display: block;
}

.btn_inserir:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    border: #1d7874 5px solid;
    text-decoration: none;
    scale: 1.025;
}

.icon_inserir {
    font-size: 150px;
    color: var(--verde-escuro);
}

.div_icon_inseriri {
    height: 50%;
    width: 100%;
    text-align: center;
    align-items: center;
    position: relative;
}

.div_titulo_inserir {
    width: 100%;
    height: 50%;
    text-align: center;
    align-items: center;
    margin-bottom: 0;
    position: relative;
    text-decoration: none;
}

.titulo_btn_inserir {
    margin: auto auto;
    font-size: 38px;
    text-decoration: none;
    color: #1d7874;
}

.btn_cards {
    border: var(--bordas);
    box-sizing: border-box;
    color: var(--verde-escuro);
    display: inline;
    padding: 4px 4px;
}

.btn_cards:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: var(--sombras_bordas);
    color: white;
    background-color: #1d7874;
    text-decoration: none;
}

/*Titulos das paginas*/
.titulos {
    text-align: center !important;
    color: var(--verde-escuro);
    margin: 5px 5px;
}

/*abaixo serao os comandos que sao universais nos formuarios*/
.formularios {
    min-width: 35%;
    max-width: 70%;
    height: 52%;
}

/*input e label*/
.form-group {
    text-align: center;
    justify-content: center;
    align-items: center;
}

/*input*/
.form-control {
    border: var(--bordas);
    margin: 0 auto 0;
    min-width: 100%;
    background-color: transparent;
    text-align: center;
}

.form-control:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid #414141;
    box-shadow: var(--sombras_bordas);
}

.btn_verde {
    border: var(--bordas);
    min-width: 5vw;
    min-height: 5vh;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 5px;
    background-color: transparent;
    color: black;
    -webkit-text-stroke-width: 0.2px;
    /* largura da borda */
    -webkit-text-stroke-color: var(--verde-escuro);
    /* cor da borda */
}

.btn_verde:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    background-color: #1d7874;
    box-shadow: var(--sombras_bordas);
}

.btn_vermelho {
    border: 1px rgb(255, 48, 48) solid;
    min-width: 5vw;
    min-height: 5vh;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 5px;
    background-color: transparent;
    color: black;
    -webkit-text-stroke-width: 0.2px;
    /* largura da borda */
    -webkit-text-stroke-color: red;
    /* cor da borda */
}

.btn_vermelho:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    background-color: red;
    box-shadow: var(--sombras_bordas);
    -webkit-text-stroke-width: 0;
    /* largura da borda */
    -webkit-text-stroke-color: 0;
    /* cor da borda */
}
.btn_azul{
    border: 1px solid #293556;
    min-width: 5vw;
    min-height: 5vh;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 5px;
    background-color: transparent;
    color: black;
    -webkit-text-stroke-width: 0.2px;
    /* largura da borda */
    -webkit-text-stroke-color: var(--verde-escuro);
    /* cor da borda */
}
.btn_azul:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    background-color: #2f3a57;
    box-shadow: var(--sombras_bordas);
    -webkit-text-stroke-width: 0;
    /* largura da borda */
    -webkit-text-stroke-color: 0;
    /* cor da borda */
    text-decoration: none;
}

/*Aqui finaliza as classes universais*/

/*Aqui comeca o modo escuro*/
.modo-escuro {
    background-color: var(--cor-dark-mod);
    color: var(--cor-dark-mod);
}

.modo-escuro .bg-sweg {
    background-color: transparent;
    width: 98%;
    margin: 1vh auto 0;
}

.modo-escuro .incons_redirecionais {
    color: #ffbc42;
}

.modo-escuro .card-title {
    color: #ffbc42
}

.modo-escuro #principal {
    color: #293556;
}

.modo-escuro #h4_log {
    color: #3e60c1;
}

.modo-escuro .d_form {
    background-color: transparent;
    border: 3px solid var(--cor-dark-mod);
    border-radius: 11px;

}

.modo-escuro .form-group {
    background-color: transparent;
    border: 2px solid #293556;
}

.modo-escuro .estilo_dados_form {
    border: 2px solid #3e60c1;
    border-radius: 15px;
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: border-color .15s ease-in-out;
}

.modo-escuro #txtlogin {
    background-color: black;
}

.modo-escuro .card-body {
    background-color: transparent;
    display: inline;
    border: 3px solid #ffbc42;
    border-top: 0px;
    box-shadow: var(--sombras_bordas_modo_escuro);
}

.modo-escuro .card-img-top {
    text-align: center;
    border-bottom: var(--borda_verde_esc);
    border: 3px solid #ffbc42;
}

.modo-escuro .btn_cards_atv {
    border: var(--bordas_douradas);
    color: #ffbc42;
}

.modo-escuro .btn_cards_atv:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    color: #1d7874;
}



.btn-outline-success{
    border: var(--borda_verde_esc);
    color: #1d7874;
}
.btn-outline-success:hover{
    background-color: #1d7874;
    border: var(--bordas_douradas);
}