body{
    overflow-x: hidden;
    transition: 0.1s ease;
}

.modo-escuro{
    background-color: rgb(24, 24, 24);
    color: #39FF14;
}

.modo-escuro #cabecalho{
    background-color: rgb(24, 24, 24);
    color: #fff;
    border: 2px solid #39FF14;
}

.modo-escuro #principal{
    color: #fff;
}
#dark-mode{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
    color: #39FF14;
    transition: 0.5s;
    width: 100px;
    height: 40px;
    text-align: center;
}

