/* Estilos para a página inicial logado*/
body{
    max-height: 100vh;
}

.btn:link,
.btn:visited {
    /* text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px; 
    display: inline-block;*/
    border-radius: 100px;
    /* transition: all .2s;
    position: absolute; */
}

.btn:hover {
    /* transform: translateY(-3px); */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #f7f7f7;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

View Compiled





.modo-escuro h1, .modo-escuro p {
    color: #fff;
}
    






/*Tablets*/
/*@media screen and (max-width: 768px) {
    body{
        float: none;
        text-align: center;
        width: 100%;
    }
}

/*Celulares*/
/*@media screen and (max-width: 600px){
    body{
        float: none;
        text-align: center;
        width: 100%;
    }
}*/

/* NOVA HOME */


.bg-sweg {
    background-color: #1d7874;
}

.bg-sweg a {
    color: #fff; 
}


.navbar{
    height: 110px;
}
.navbar-icon{
    border: solid 1px;
    border-radius: 50%;
    padding: 10px;
}
#navbar-principal{
    width: 100vh;
    
}

#navbar-principal.rolagem{
    background-color:#1d7874;
    left: 0;
    height: 70px;
    top:0;
    position:fixed;
    width: 100vw;
    animation: moveToRight 0.5s ease-in-out;
    z-index: 30;
  }

  @keyframes moveToRight {
    0% {
      transform: translateY(-5vh);
    }
    100% {
      transform: translateY(0vh);
    }
}
.rolagem img{
    height: 60px;
    width: 45px;
    
}
