
.menu-background {
    width: 100vw;
    height: 100vh;
    background-color: #414141;
    opacity: 0;
    z-index: 10;
    filter: blur(4px);
    position: absolute;
    left: 0;
    top: 0;
}
#cabecalho{
    background-size: 600px;
    background-color: rgb(16, 159, 11);
    height: 55px;
   
}

.page-title{
    width: 100%;
    margin: 0 ;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#palavra_1{
    /* position: relative; */
    color: rgb(16, 159, 11);
    text-shadow: 1px 1px white, -1px -2px #444;
    margin-top: 15px; 
    font-size: 40px;
    font-weight: bold;
    margin-left: -15px;
}
#palavra_2{
    
    margin-top: -18px;
    margin-left: 60px; 
    color: goldenrod;
    text-shadow: 1px 1px white, -1px -2px #444;
    font-size: 40px;
    font-weight: bold;
}

.menu_oculto{
    background-color: black;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu_oculto a{
    text-shadow: rgb(16, 159, 11) 0.1em 0.05em 0.2em;
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    display: block;
    color: goldenrod; 

}



.btn_fechar{
    right: 25px;
    position: absolute;
    padding: 16px;
    top: 0;
    margin-left: 50px;
    font-size: 25px; 
}

#principal{
    color: rgb(255, 255, 255); 
    text-shadow: black  0.1em 0.1em 0.2em;
    padding: 16px;
    margin-left: 15px;
    margin-top: -15px;
    transition: 0.5px;
}

/*usamos media p paginas responsivas*/
@media screen and(max-height: 450px){
    .menu_oculto{padding-top: 15px;}
    .menu_oculto a{font-size: 18;}
}


#bloco_titulo{
    text-align: center;
    margin-top: 12px;
    background: no-repeat center ;
    height: 20vh;
}

#bloco_titulo img{
    height: 100%;
    object-fit: fill;
    position: relative;
    top: 0;
}

img{
    margin-top: -50px;
    height: 230px;
    width: 430px;
    object-fit: fill;
    position: relative;

}
#p_titulo{
    top: 1.5vh;
    margin-left: 225px;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
}

.cx_meio{
    height: 580px;
}
.nomeUsu{
    font-size: 20px;
    position: absolute;
    color: rgb(242, 242, 97); 
    margin-top: -45px;
    right: 16px;
}

.nomeUsu a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}


 @media screen {
            
.menu_oculto {
  background-color: black;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;}
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
}
 
/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {

}
 
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {

}
 
/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {

}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width:1200px){

}