
.tarefa {
    flex-wrap: wrap;
    padding: 8vh;
    height: fit-content;
    width: 100vh;
    border: solid 1px #679289;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
}
#tarefa-container {
    width: 60vh;
}

.caixas_texto{
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    height: fit-content;
    border: solid #679289 1px;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
    width: 60vh;
    text-align: center;
    padding: 5vh;
}
#descricao {

}
#status {
    
}
.btn_lista_usu{
    box-sizing: border-box;
    border: solid #679289 1px;
    padding: 1vh 1vh;
    min-width: 50vh;
    color:#071e22;
}
.btn_lista_usu:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
   
  }

  .btn_cards_atv{
    box-sizing: border-box;
    border: var(--bordas);
    padding: 1vh 1vh;
    min-width: 50vh;
    color: var(--verde-escuro);
  }