
h2{
    margin-top: 5vh;
    padding-bottom: 4vh;
}
h1{
    text-align: center;
}
#btn_altercao{
    margin-left: 160vh;
}
#usuario {
    text-align: center;
    width: 30vh;
    height: auto;
    border-radius: 15px;
    border: solid 2px rgb(16, 159, 11);
}
#endereco {
    text-align: center;
    width: 30vh;
    height: auto;
    border-radius: 15px;
    border: solid 2px rgb(16, 159, 11);
}
#contato {
    text-align: center;
    width: 30vh;
    height: auto;
    border-radius: 15px;
    border: solid 2px rgb(16, 159, 11);
}

.d_dados{
    flex-direction: row;
    margin: 0;
    width: 100%;
    height: 40vh;
    display: inline-block;
}
.p_dados{

    font-size: 20px;
    font-weight: 600;
    color: rgb(16, 159, 11);
}

#btn_voltar_profile{
    position: absolute;
    margin-left: 42vh;
    margin-top: 8vh;
}

#btn_altercao{
    background-color: rgb(16, 159, 11);
    
}
#btn_voltar_profile{
    background-color: rgb(16, 159, 11);
}
