#usuario {
    display: inline-block;
    text-align: center;
    width: 100vh;
    height: auto;
    border-radius: 15px;
    border: solid 2px rgb(16, 159, 11);
}
#endereco {
    display: inline-block;
    width: 100vh;
    height: auto;
    border-radius: 15px;
    border: solid 2px rgb(16, 159, 11);
}
#contato {
    display: inline-block;
    width: 100vh;
    height: auto;
    border-radius: 15px;
    border: solid 2px rgb(16, 159, 11);
}

.container{
    margin: 0;
    width: 100vh;
    height: 100vh;
    background-color: transparent;
}
